<div class="wvNotice">
    <!-- Text -->
    <div class="wvNotice__text">
        {{vm.content}}
    </div>

    <!-- Close button -->
    <div
        class="wvNotice__closeButton"
        ng-click="vm.close()"
    >
        <span class="fa fa-close"></span>
    </div>
</div>