.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.wv-html, .wv-body {
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;
    
    overflow: hidden;
}
.wv-body {
    background-color: black;
    color: white;
    position: relative;
    overflow: hidden;

    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    -webkit-tap-highlight-color: hsla(0, 0%, 0%, 0);
    font-size: 13px;
    font-weight: 400;
    line-height: 1.49;
    font-size-adjust: 100%;

    // Smooth text
    -moz-osx-font-smoothing: grayscale !important;
    font-smoothing: antialiased !important;
    -webkit-font-smoothing: antialiased !important;
}
