<div
    class="wvToolbar"
    ng-if="vm.position === 'top'"
    ng-class="{
        'wvToolbar--top': vm.position === 'top',
        'wvToolbar--right': vm.position === 'right'
    }"
>
    <!-- Splitpane Grid configuration buttons. -->
    <wv-splitpane-config-button
        ng-if="vm.buttons.hasOwnProperty('layout')"
        wv-readonly="vm.readonly"
        wv-splitpane-layout="vm.buttons.layout"
        wv-popover-placement="bottom"
    ></wv-splitpane-config-button>

    <!-- Invert Colour State -->
    <label 
        ng-if="vm.buttons.hasOwnProperty('invert')"
        class="wvButton--underline glyphicon glyphicon-adjust"
        data-title="Invert color"
        data-placement="bottom"
        data-container="body"
        bs-tooltip
    >
        <input type="button" ng-disabled="vm.readonly" ng-click="vm.onActionClicked({$action: 'invert'})" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- Zoom -->
    <label
        ng-if="vm.buttons.hasOwnProperty('zoom')"
        class="wvButton--underline glyphicon glyphicon-search"
        ng-class="{active: vm.tool === 'zoom'}"
        data-title="Zoom"
        data-placement="bottom"
        data-container="body"
        bs-tooltip
    >
        <input type="radio" ng-disabled="vm.readonly" ng-model="vm.tool" value="zoom" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>
    
    <!-- Pan -->
    <label
        ng-if="vm.buttons.hasOwnProperty('pan')"
        class="wvButton--underline glyphicon glyphicon-move"
        ng-class="{active: vm.tool === 'pan'}"
        data-title="Panning"
        data-placement="bottom"
        data-container="body"
        bs-tooltip
    >
        <input type="radio" ng-disabled="vm.readonly" ng-model="vm.tool" value="pan" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>
    
    <!-- Windowing -->
    <wv-windowing-preset-button
        ng-if="vm.buttons.hasOwnProperty('windowing')"
        wv-selected-tool="vm.tool"
        wv-readonly="vm.readonly"
        wv-popover-placement="bottom"
        wv-on-windowing-preset-selected="vm.applyWindowing($windowWidth, $windowCenter)"
    ></wv-windowing-preset-button>

    <!-- Magnifying Glass -->
    <wv-magnifying-glass-config-button
        ng-if="vm.buttons.hasOwnProperty('magnify')"
        wv-selected-tool="vm.tool"
        wv-magnification-level="vm.buttons.magnify.magnificationLevel"
        wv-magnifying-glass-size="vm.buttons.magnify.magnifyingGlassSize"
        wv-readonly="vm.readonly"
        wv-popover-placement="bottom"
    ></wv-magnifying-glass-config-button>

    <!-- Length Measure -->
    <label
        ng-if="vm.buttons.hasOwnProperty('lengthmeasure')"
        class="wvButton--underline glyphicon glyphicon-resize-horizontal"
        ng-class="{active: vm.tool === 'lengthmeasure'}"
        data-title="Length Measurement"
        data-placement="bottom"
        data-container="body"
        bs-tooltip
    >
        <input type="radio" ng-disabled="vm.readonly" ng-model="vm.tool" value="lengthmeasure" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>
    
    <!-- Angle Measure -->
    <label
        ng-if="vm.buttons.hasOwnProperty('anglemeasure')"
        class="wvButton--underline glyphicon glyphicon-chevron-left"
        ng-class="{active: vm.tool === 'anglemeasure'}"
        data-title="Angle Measurement"
        data-placement="bottom"
        data-container="body"
        bs-tooltip
    >
        <input type="radio" ng-disabled="vm.readonly" ng-model="vm.tool" value="anglemeasure" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>
    
    <!-- Pixel Probe -->
    <label
        ng-if="vm.buttons.hasOwnProperty('pixelprobe')"
        class="wvButton--underline glyphicon glyphicon-record"
        ng-class="{active: vm.tool === 'pixelprobe'}"
        data-title="Pixel Probe"
        data-placement="bottom"
        data-container="body"
        bs-tooltip
    >
        <input type="radio" ng-disabled="vm.readonly" ng-model="vm.tool" value="pixelprobe" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>
    
    <!-- Elliptical Region Of Interest -->
    <label
        ng-if="vm.buttons.hasOwnProperty('ellipticalroi')"
        class="wvButton--underline fa fa-circle-o"
        ng-class="{active: vm.tool === 'ellipticalroi'}"
        data-title="Elliptical ROI"
        data-placement="bottom"
        data-container="body"
        bs-tooltip
    >
        <input type="radio" ng-disabled="vm.readonly" ng-model="vm.tool" value="ellipticalroi" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>
    
    <!-- Rectangle Region Of Interest -->
    <label
        ng-if="vm.buttons.hasOwnProperty('rectangleroi')"
        class="wvButton--underline glyphicon glyphicon glyphicon-unchecked"
        ng-class="{active: vm.tool === 'rectangleroi'}"
        data-title="Rectangle ROI"
        data-placement="bottom"
        data-container="body"
        bs-tooltip
    >
        <input type="radio" ng-disabled="vm.readonly" ng-model="vm.tool" value="rectangleroi" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>
    
    <!-- Rotate Left -->
    <label
        ng-if="vm.buttons.hasOwnProperty('rotateleft')"
        class="wvButton--underline fa fa-rotate-left"
        data-title="Rotate to the left"
        data-placement="bottom"
        data-container="body"
        bs-tooltip
    >
        <input type="button" ng-disabled="vm.readonly" ng-click="vm.onActionClicked({$action: 'rotateleft'})" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- Rotate Right -->
    <label
        ng-if="vm.buttons.hasOwnProperty('rotateright')"
        class="wvButton--underline fa fa-rotate-right"
        data-title="Rotate to the right"
        data-placement="bottom"
        data-container="body"
        bs-tooltip
    >
        <input type="button" ng-disabled="vm.readonly" ng-click="vm.onActionClicked({$action: 'rotateright'})" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- Flip Horizontally -->
    <label
        ng-if="vm.buttons.hasOwnProperty('hflip')"
        class="wvButton--underline fa fa-exchange"
        data-title="Flip horizontally"
        data-placement="bottom"
        data-container="body"
        bs-tooltip
    >
        <input type="button" ng-disabled="vm.readonly" ng-click="vm.onActionClicked({$action: 'hflip'})" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- Flip Vertically -->
    <label
        ng-if="vm.buttons.hasOwnProperty('vflip')"
        class="wvButton--underline fa fa-exchange wvButton--rotate"
        data-title="Flip vertically"
        data-placement="bottom"
        data-container="body"
        bs-tooltip
    >
        <input type="button" ng-disabled="vm.readonly" ng-click="vm.onActionClicked({$action: 'vflip'})" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>
</div>

<!--
Since I couldn't manage to make tooltip's data-placement attribute dynamic, 
I've duplicated the whole directive content and have kept it static, using an
`ng-if` to distinguish between its two possible values instead.
-->
<div
    class="wvToolbar"
    ng-if="vm.position === 'right'"
    ng-class="{
        'wvToolbar--top': vm.position === 'top',
        'wvToolbar--right': vm.position === 'right'
    }"
>
    <!-- Splitpane Grid configuration buttons. -->
    <wv-splitpane-config-button
        ng-if="vm.buttons.hasOwnProperty('layout')"
        wv-readonly="vm.readonly"
        wv-splitpane-layout="vm.buttons.layout"
        wv-popover-placement="left"
    ></wv-splitpane-config-button>

    <!-- Invert Colour State -->
    <label 
        tyle="margin: 0; position: relative;"
        ng-if="vm.buttons.hasOwnProperty('invert')"
        class="wvButton--underline glyphicon glyphicon-adjust"
        data-title="Invert color"
        data-placement="left"
        data-container="body"
        bs-tooltip
    >
        <input type="button" ng-disabled="vm.readonly" ng-click="vm.onActionClicked({$action: 'invert'})" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- Zoom -->
    <label
        ng-if="vm.buttons.hasOwnProperty('zoom')"
        class="wvButton--underline glyphicon glyphicon-search"
        ng-class="{active: vm.tool === 'zoom'}"
        data-title="Zoom"
        data-placement="left"
        data-container="body"
        bs-tooltip
    >
        <input type="radio" ng-disabled="vm.readonly" ng-model="vm.tool" value="zoom" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>
    
    <!-- Pan -->
    <label
        ng-if="vm.buttons.hasOwnProperty('pan')"
        class="wvButton--underline glyphicon glyphicon-move"
        ng-class="{active: vm.tool === 'pan'}"
        data-title="Panning"
        data-placement="left"
        data-container="body"
        bs-tooltip
    >
        <input type="radio" ng-disabled="vm.readonly" ng-model="vm.tool" value="pan" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>
    
    <!-- Windowing -->
    <wv-windowing-preset-button
        ng-if="vm.buttons.hasOwnProperty('windowing')"
        wv-selected-tool="vm.tool"
        wv-readonly="vm.readonly"
        wv-popover-placement="left"
        wv-on-windowing-preset-selected="vm.applyWindowing($windowWidth, $windowCenter)"
    ></wv-windowing-preset-button>

    <!-- Magnifying Glass -->
    <wv-magnifying-glass-config-button
        ng-if="vm.buttons.hasOwnProperty('magnify')"
        wv-selected-tool="vm.tool"
        wv-readonly="vm.readonly"
        wv-popover-placement="left"
    ></wv-magnifying-glass-config-button>

    <!-- Length Measure -->
    <label
        ng-if="vm.buttons.hasOwnProperty('lengthmeasure')"
        class="wvButton--underline glyphicon glyphicon-resize-horizontal"
        ng-class="{active: vm.tool === 'lengthmeasure'}"
        data-title="Length Measurement"
        data-placement="left"
        data-container="body"
        bs-tooltip
    >
        <input type="radio" ng-disabled="vm.readonly" ng-model="vm.tool" value="lengthmeasure" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>
    
    <!-- Angle Measure -->
    <label
        ng-if="vm.buttons.hasOwnProperty('anglemeasure')"
        class="wvButton--underline glyphicon glyphicon-chevron-left"
        ng-class="{active: vm.tool === 'anglemeasure'}"
        data-title="Angle Measurement"
        data-placement="left"
        data-container="body"
        bs-tooltip
    >
        <input type="radio" ng-disabled="vm.readonly" ng-model="vm.tool" value="anglemeasure" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>
    
    <!-- Pixel Probe -->
    <label
        ng-if="vm.buttons.hasOwnProperty('pixelprobe')"
        class="wvButton--underline glyphicon glyphicon-record"
        ng-class="{active: vm.tool === 'pixelprobe'}"
        data-title="Pixel Probe"
        data-placement="left"
        data-container="body"
        bs-tooltip
    >
        <input type="radio" ng-disabled="vm.readonly" ng-model="vm.tool" value="pixelprobe" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>
    
    <!-- Elliptical Region Of Interest -->
    <label
        ng-if="vm.buttons.hasOwnProperty('ellipticalroi')"
        class="wvButton--underline fa fa-circle-o"
        ng-class="{active: vm.tool === 'ellipticalroi'}"
        data-title="Elliptical ROI"
        data-placement="left"
        data-container="body"
        bs-tooltip
    >
        <input type="radio" ng-disabled="vm.readonly" ng-model="vm.tool" value="ellipticalroi" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>
    
    <!-- Rectangle Region Of Interest -->
    <label
        ng-if="vm.buttons.hasOwnProperty('rectangleroi')"
        class="wvButton--underline glyphicon glyphicon glyphicon-unchecked"
        ng-class="{active: vm.tool === 'rectangleroi'}"
        data-title="Rectangle ROI"
        data-placement="left"
        data-container="body"
        bs-tooltip
    >
        <input type="radio" ng-disabled="vm.readonly" ng-model="vm.tool" value="rectangleroi" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>
    
    <!-- Rotate Left -->
    <label
        ng-if="vm.buttons.hasOwnProperty('rotateleft')"
        class="wvButton--underline fa fa-rotate-left"
        data-title="Rotate to the left"
        data-placement="left"
        data-container="body"
        bs-tooltip
    >
        <input type="button" ng-disabled="vm.readonly" ng-click="vm.onActionClicked({$action: 'rotateleft'})" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- Rotate Right -->
    <label
        ng-if="vm.buttons.hasOwnProperty('rotateright')"
        class="wvButton--underline fa fa-rotate-right"
        data-title="Rotate to the right"
        data-placement="left"
        data-container="body"
        bs-tooltip
    >
        <input type="button" ng-disabled="vm.readonly" ng-click="vm.onActionClicked({$action: 'rotateright'})" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- Flip Horizontally -->
    <label
        ng-if="vm.buttons.hasOwnProperty('hflip')"
        class="wvButton--underline fa fa-exchange"
        data-title="Flip horizontally"
        data-placement="left"
        data-container="body"
        bs-tooltip
    >
        <input type="button" ng-disabled="vm.readonly" ng-click="vm.onActionClicked({$action: 'hflip'})" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>

    <!-- Flip Vertically -->
    <label
        ng-if="vm.buttons.hasOwnProperty('vflip')"
        class="wvButton--underline fa fa-exchange wvButton--rotate"
        data-title="Flip vertically"
        data-placement="left"
        data-container="body"
        bs-tooltip
    >
        <input type="button" ng-disabled="vm.readonly" ng-click="vm.onActionClicked({$action: 'vflip'})" style="position: absolute; left:0; top:0; bottom:2px; right:0; opacity:0;"/>
    </label>
</div>
